In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from pandas.plotting import register_matplotlib_converters
register_matplotlib_converters()
import seaborn as sns
sns.set()
sns.set_style("white")
sns.set_palette("GnBu_d")
import folium
from folium import plugins
from folium.plugins import HeatMap
import geopandas as gpd
from datetime import datetime #for working with times objects
from datetime import timedelta #for working with times objects
import math
import random
import datetime as dt

In [48]:
bikes = pd.read_csv("bluebikes_2021.csv")
bikes.head()

C:\Users\Emily\AppData\Local\Temp\ipykernel_3180\1506092660.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  bikes = pd.read_csv("bluebikes_2021.csv")

,Unnamed: 0,start_time,end_time,start_station_id,start_station_lat,start_station_lon,end_station_id,end_station_lat,end_station_lon,bike_id
0,0,2021-01-01 00:00:04,2021-01-01 00:15:19,91,42.366277,-71.091690,370,42.350961,-71.077828,5316
1,1,2021-01-01 00:00:21,2021-01-01 00:18:27,370,42.350961,-71.077828,169,42.378965,-71.068607,4917
2,2,2021-01-01 00:00:26,2021-01-01 00:16:12,46,42.343666,-71.085824,21,42.346520,-71.080658,2881
3,3,2021-01-01 00:00:30,2021-01-01 00:06:26,178,42.359573,-71.101295,107,42.362500,-71.088220,4792
4,4,2021-01-01 00:01:11,2021-01-01 00:09:43,386,42.368605,-71.099302,413,42.369553,-71.085790,6062

In [3]:
bikes.drop("start_station_lon" , axis=1, inplace=True)
bikes.drop( "start_station_lat", axis=1, inplace=True)
bikes.drop( "end_station_lat", axis=1, inplace=True)
bikes.drop( "end_station_lon", axis=1, inplace=True)

NameError: name 'bikes' is not defined

In [50]:
bikes.head(3000000000000)

,Unnamed: 0,start_time,end_time,start_station_id,end_station_id,bike_id
0,0,2021-01-01 00:00:04,2021-01-01 00:15:19,91,370,5316
1,1,2021-01-01 00:00:21,2021-01-01 00:18:27,370,169,4917
2,2,2021-01-01 00:00:26,2021-01-01 00:16:12,46,21,2881
3,3,2021-01-01 00:00:30,2021-01-01 00:06:26,178,107,4792
4,4,2021-01-01 00:01:11,2021-01-01 00:09:43,386,413,6062
...,...,...,...,...,...,...
2934383,2934373,2021-12-31 23:58:38,2022-01-01 00:06:38,4,415,4895
2934384,2934374,2021-12-31 23:58:46,2022-01-01 00:11:24,77,96,3665
2934385,2934375,2021-12-31 23:58:49,2022-01-01 00:03:30,338,8,6470
2934386,2934376,2021-12-31 23:59:50,2022-01-01 00:01:49,32,19,6484
2934387,2934377,2021-12-31 23:59:59,2022-01-01 00:09:17,17,108,4780

In [51]:
from datetime import date, time, datetime, timedelta

In [54]:
print(bikes.info())
print(bikes.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2934388 entries, 0 to 2934387
Data columns (total 6 columns):
 #   Column            Dtype
---  ------            -----
 0   Unnamed: 0        int64
 1   start_time        object
 2   end_time          object
 3   start_station_id  int64
 4   end_station_id    object
 5   bike_id           int64
dtypes: int64(3), object(3)
memory usage: 134.3+ MB
None
         Unnamed: 0  start_station_id       bike_id
count  2.934388e+06      2.934388e+06  2.934388e+06
mean   1.467188e+06      1.764976e+02  4.790112e+03
std    8.470819e+05      1.510205e+02  1.548857e+03
min    0.000000e+00      1.000000e+00  2.180000e+02
25%    7.335948e+05      5.800000e+01  3.464000e+03
50%    1.467190e+06      1.100000e+02  4.943000e+03
75%    2.200781e+06      3.310000e+02  6.106000e+03
max    2.934377e+06      5.540000e+02  7.665000e+03

In [63]:
bikes.isna().any()

Unnamed: 0          False
start_time          False
end_time            False
start_station_id    False
end_station_id      False
bike_id             False
dtype: bool

In [64]:
bikes['start_time'] = pd.to_datetime(bikes['start_time'])
bikes.head()

ParserError: month must be in 1..12: 21/53/41 26-01-2021 present at position 64160

In [65]:
bikes[['start_time','end_time']] = bikes[['start_time','end_time']].apply(pd.to_datetime) #convert string column to dateformat
#does not work, because position 64160 has an issue (look below)

ParserError: month must be in 1..12: 21/53/41 26-01-2021 present at position 64160

In [62]:
bikes.head(64161)

,Unnamed: 0,start_time,end_time,start_station_id,end_station_id,bike_id
0,0,2021-01-01 00:00:04,2021-01-01 00:15:19,91,370,5316
1,1,2021-01-01 00:00:21,2021-01-01 00:18:27,370,169,4917
2,2,2021-01-01 00:00:26,2021-01-01 00:16:12,46,21,2881
3,3,2021-01-01 00:00:30,2021-01-01 00:06:26,178,107,4792
4,4,2021-01-01 00:01:11,2021-01-01 00:09:43,386,413,6062
...,...,...,...,...,...,...
64156,64156,2021-01-26 21:50:48,2021-01-26 22:02:36,31,121,3432
64157,64157,2021-01-26 21:51:24,2021-01-26 22:06:51,352,233,4245
64158,64158,2021-01-26 21:52:48,2021-01-26 22:03:42,107,116,5901
64159,64159,2021-01-26 21:53:31,2021-01-26 21:54:51,479,80,4663
64160,64160,21/53/41 26-01-2021,22/07/55 26-01-2021,415,345,2029

In [69]:
def get_date(ts):
    return ts.date()

def get_weekday(ts):
    return ts.weekday()

def get_hour(ts):return ts.hour


bikes.loc[64160]

Unnamed: 0                        64160
start_time          21/53/41 26-01-2021
end_time            22/07/55 26-01-2021
start_station_id                    415
end_station_id                      345
bike_id                            2029
Name: 64160, dtype: object

In [74]:
bikes.loc[64160] = [64160 ,'2021-01-26 21:53:41','2021-01-26 22:07:55','415' , 345 , 2029]
bikes.loc[64160]

Unnamed: 0                        64160
start_time          2021-01-26 21:53:41
end_time            2021-01-26 22:07:55
start_station_id                    415
end_station_id                      345
bike_id                            2029
Name: 64160, dtype: object

In [80]:
bikes.loc[259341] = [259341 , "2021-03-30 01:33:50" , "2021-03-30 01:53:11" , 33 , 10 , 6630]
bikes.loc[259341]

Unnamed: 0                       259341
start_time          2021-03-30 01:33:50
end_time            2021-03-30 01:53:11
start_station_id                     33
end_station_id                       10
bike_id                            6630
Name: 259341, dtype: object

In [85]:
bikes.loc[742964] = [742962 , "2021-06-02 16:48:35" , "2021-06-02 17:02:56" , 479 , 426 , 6320 ]

In [88]:
bikes.loc[1121075] = [1121075, "2021-07-10 23:48:03" , "2021-07-10 23:51:26" , 68 , 515 , 4787]

In [92]:
bikes.loc[1699634] = [1699634, "2021-08-31 14:12:28" , "2021-08-31 14:31:12" , 76 , 107, 6215]

In [95]:
bikes.loc[1864194] = [1864194 , "2021-09-12 05:49:59" , "2021-09-12 06:00:38", 384 , 190 , 6215]

In [98]:
bikes.loc[1923187] = [1923187, "2021-09-16 03:37:33" , "2021-09-12 03:47:51", 75 , 185 , 2060]

In [101]:
bikes.loc[1946368] = [1946368, "2021-09-17 21:34:49" , "2021-09-17 21:45:56", 32 , 41 , 5000]

In [104]:
bikes.loc[2070161] = [2070161, "2021-09-25 20:00:29" , "2021-09-25 20:08:10", 403 , 226, 2227]

In [105]:
bikes[['start_time','end_time']] = bikes[['start_time','end_time']].apply(pd.to_datetime)

In [106]:
bikes["Date"] = bikes["start_time"].apply(lambda x: get_date(x))
bikes["Weekday"]=bikes["start_time"].apply(lambda x: get_weekday(x))
bikes["Hour"]=bikes["start_time"].apply(lambda x: get_hour(x))

bikes.head()

,Unnamed: 0,start_time,end_time,start_station_id,end_station_id,bike_id,Date,Weekday,Hour
0,0,2021-01-01 00:00:04,2021-01-01 00:15:19,91,370,5316,2021-01-01,4,0
1,1,2021-01-01 00:00:21,2021-01-01 00:18:27,370,169,4917,2021-01-01,4,0
2,2,2021-01-01 00:00:26,2021-01-01 00:16:12,46,21,2881,2021-01-01,4,0
3,3,2021-01-01 00:00:30,2021-01-01 00:06:26,178,107,4792,2021-01-01,4,0
4,4,2021-01-01 00:01:11,2021-01-01 00:09:43,386,413,6062,2021-01-01,4,0

In [113]:
bikes['Difference'] = (bikes['end_time'] - bikes['start_time'])/ np.timedelta64(1, 'm')
bikes.head()

,Unnamed: 0,start_time,end_time,start_station_id,end_station_id,bike_id,Date,Weekday,Hour,Difference
0,0,2021-01-01 00:00:04,2021-01-01 00:15:19,91,370,5316,2021-01-01,4,0,15.250000
1,1,2021-01-01 00:00:21,2021-01-01 00:18:27,370,169,4917,2021-01-01,4,0,18.100000
2,2,2021-01-01 00:00:26,2021-01-01 00:16:12,46,21,2881,2021-01-01,4,0,15.766667
3,3,2021-01-01 00:00:30,2021-01-01 00:06:26,178,107,4792,2021-01-01,4,0,5.933333
4,4,2021-01-01 00:01:11,2021-01-01 00:09:43,386,413,6062,2021-01-01,4,0,8.533333

In [ ]:
#using station
import geopandas as gpd
gdf = gpd.read_file('bluebikes_2021.csv')
station_counts = gdf.groupby('start_station_id').size()
sorted_counts = station_counts.sort_values(ascending=False)
print (gdf)

In [46]:
#idle time
from datetime import datetime, timedelta

def calculate_idle_time(usage_records):
    total_usage_time = sum((end_time - start_time).total_seconds() for start_time, end_time in usage_records)
    total_time = 365 * 24 * 60 * 60  # Total time in seconds in a year
    
    idle_time = total_time - total_usage_time
    return idle_time

def calculate_bike_idle_times(bike_records):
    bike_idle_times = {}
    
    for bike_id, usage_records in bike_records.items():
        idle_time = calculate_idle_time(usage_records)
        bike_idle_times[bike_id] = idle_time
    
    return bike_idle_times

bike_idle_times = calculate_bike_idle_times(bike_records)

# Print the idle time of each bike
for bike_id, idle_time in bike_idle_times.items():
    print(f"Bike {bike_id}: {idle_time / 3600} hours")